<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GitLab OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gitlabexplorer</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>background-app-refresh</string>
		<string>background-processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.gitlabexplorer.background-refresh</string>
	</array>
	<key>GitLabConfiguration</key>
	<dict>
		<key>BaseURL</key>
		<string>https://gitlab.com</string>
		<key>ClientID</key>
		<string>4e130d01a21e737b17beb754b61d3018831b5c564069e649375761dd9d772b7e</string>
		<key>RedirectURI</key>
		<string>gitlabexplorer://auth/callback</string>
	</dict>
</dict>
</plist>
